# XGBOOST

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

## Data Preprocessing

In [2]:
df=pd.read_csv("Churn_Modelling.csv")

In [3]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
x=df.iloc[:,3:13]
y=df["Exited"]

### OneHot Encoding The data 
### Drop multi colinearity
### Split to test and train set

In [5]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
cat_feat=["Geography","Gender"]
one_hot=OneHotEncoder()
transformer=ColumnTransformer([("one_hot",one_hot,cat_feat)],
                              remainder="passthrough")
transformed_x=transformer.fit_transform(x)
df_transformed_x=pd.DataFrame(transformed_x)

In [6]:
df_transformed_x.drop([0,3],axis=1,inplace=True)

In [7]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(df_transformed_x,y,
                                               test_size=.2,
                                               random_state=0)

### For XGBOOST unlike deep learning we don't need standard scaling 

because xgboost is fast and we don't need that

In [8]:
# from sklearn.preprocessing import StandardScaler
# sc=StandardScaler()
# x_train=sc.fit_transform(x_train)
# x_test=sc.transform(x_test)

# Implement The XGBOOST model

this is just for introduction so dig deep in this xgboost because it is very powerful tool

In [9]:
from xgboost import XGBClassifier

classifier=XGBClassifier()
classifier.fit(x_train,y_train)
y_pred=classifier.predict(x_test)

In [12]:
from sklearn.metrics import confusion_matrix
print(confusion_matrix(y_test,y_pred)),classifier.score(x_test,y_test)

[[1491  104]
 [ 187  218]]

(None, 0.8545)

In [11]:
from sklearn.model_selection import cross_val_score
accuracies=cross_val_score(classifier,x_train,y_train,cv=10)
np.mean(accuracies),np.std(accuracies)

(0.852875, 0.01159269705461158)